* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.App {
  background: url("./components/images/machi-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center center;
}