* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.2)
}

.game-board {
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 10px;
  background-color: rgba($color: white, $alpha: 0.15);
  border-radius: 25px;
  border: 1px solid white;
  padding: 2%;

  .player-boxes {
    width: 100%;
    background-color: rgba($color: white, $alpha: 0.15);

  }
}

// Right side of Gameboard
.communal-side {
  display: flex;
  flex-direction: column;

  .shop-section,
  .gamelog-section,
  .machi-logo {
    width: 100%;
  }

  .dice-section,
  .action-section {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .dice {
      width: 50px;
      height: 50px;
      background-color: white;
    }
  }

  .shop-section {
    height: 40%;
    background-color: rgba($color: white, $alpha: 0.15);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .card-slot {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .shop-card {
      width: 80%;
      height: 80%;
      background-color: white;
    }
  }


  .gamelog-section {
    height: 50%;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgba($color: white, $alpha: 0.9);
    padding: 2%;

    h1 {
      text-align: center;
    }
  }
}