* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.2)
}

.game-board {
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 20px;
  background-color: rgba($color: white, $alpha: 0.15);
  border-radius: 25px;
  border: 1px solid white;
  padding: 20px;

  .player-boxes {
    width: 100%;
    height: 100%;
  }

  h1 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

// Left side of Gameboard
.player-box {
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgba($color: white, $alpha: 0.9);
  padding: 1%;
  margin-bottom: 20px;
  max-height: 275px;


  .name-coins {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

    h1 {
      color: black;
      font-size: 1.3rem;
      margin: 0 0 3px;
    }

    span {
      display: inline-flex;
      vertical-align: text-bottom;
      color: rgb(235, 183, 13);
      font-weight: 800;
    }

  }

  .establishments {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
    gap: 5px;

    .card {
      width: 100%;
      height: 100%;
    }
  }
}

.card:hover {
  width: 110%;
}

.player-box:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


// Right side of Gameboard
.communal-side {
  display: flex;
  flex-direction: column;
  max-height: 90vh;


  .shop-section,
  .gamelog-section,
  .machi-logo {
    width: 100%;
  }

  .shop-section {
    height: 35%;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgba($color: white, $alpha: 0.9);
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .action-section {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .action-btn {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 600;
      width: 25%;
      padding: 8px 20px;
      color: white;
      background-color: rgba($color: black, $alpha: 0.3);
      border-radius: 25px;
      border: 2px solid white;
      cursor: pointer;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    }

    .action-btn:hover {
      animation: bounce 0.6s linear;
      width: 35%;
      transition: 0.3s;
      border: 4px solid white;
    }

    .buy-btn:hover {
      background-color: rgb(45, 168, 45);
    }

    .pass-btn:hover {
      background-color: rgb(41, 126, 206);
    }

    .question-btn {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 600;
      width: 50px;
      padding: 8px;
      color: white;
      background-color: rgba($color: black, $alpha: 0.3);
      border-radius: 25px;
      border: 2px solid white;
      cursor: pointer;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    }

    .question-btn:hover {
      background-color: rgb(240, 220, 47);
      animation: bounce 0.6s linear;
      transition: 0.3s;
      color: black;
    }


    .dice {
      background-size: contain;
      width: 50px;
      height: 50px;
      background-image: url("./images/dice.png");
      cursor: pointer;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .dice:hover {
      animation: bounce 0.4s linear;
      width: 60px;
      height: 60px;
      transition: 0.2s;


      @keyframes bounce {
        70% {
          transform: translateY(0%);
        }

        80% {
          transform: translateY(-15%);
        }

        90% {
          transform: translateY(0%);
        }

        95% {
          transform: translateY(-7%);
        }

        97% {
          transform: translateY(0%);
        }

        99% {
          transform: translateY(-3%);
        }

        100% {
          transform: translateY(0);
        }
      }
    }
  }


  .gamelog-section {
    height: 40%;
    max-height: 40vh;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgba($color: white, $alpha: 0.9);
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    h1 {
      color: black;
    }

    .gamelog {
      height: 85%;
      overflow-y: scroll;
    }
  }

}