* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.machi-logo-container {
  display: flex;
  justify-content: center;

  .machi-logo {
    margin-top: 6rem;
    width: 60%;
  }
}

.home-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;

  .msg-box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 20px;
    border: 3px solid white;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .welcome-msg {
    color: white;
    text-align: center;
  }

  .button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    border-radius: 20px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  div:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
  }

  h1 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5px;
  }

  .home-btn {
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    cursor: pointer;
    padding: 60px;
    margin-top: 20px;
    border: none;
    background-image: url(./images/dice.png);
  }

  .home-btn:hover {
    background-size: 100%;

    animation: bounce 0.4s linear;
    transition: 0.2s;
  }

  @keyframes bounce {
    70% {
      transform: translateY(0%);
    }

    80% {
      transform: translateY(-15%);
    }

    90% {
      transform: translateY(0%);
    }

    95% {
      transform: translateY(-7%);
    }

    97% {
      transform: translateY(0%);
    }

    99% {
      transform: translateY(-3%);
    }

    100% {
      transform: translateY(0);
    }
  }

}

// Animations
.helicopter {
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  animation: fly 10s linear infinite;
}

.shadow {
  position: absolute;
  right: 0;
  top: 85%;
  transform: translateY(-50%);
  animation: fly 10s linear infinite;
}

@keyframes fly {
  from {
    right: 0;
  }

  to {
    right: 100%;
  }
}

.car {
  width: 50px;
  position: absolute;
  left: 0;
  top: 95%;
  transform: translateY(-50%);
  animation: drive 20s linear infinite;
}

@keyframes drive {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}